{
  "Version":"2012-10-17",
  "Statement": [
    {
      "Sid": "AllowSpecificFolderListingOfSpecificBucket",
      "Action": ["s3:ListBucket"],
      "Effect": "Allow",
      "Resource": ["arn:aws-cn:s3:::b2b-marketplace-test"],
      "Condition":{"StringEquals":{"s3:prefix":["casmart/", "thermofisher/"],"s3:delimiter":["/"]}}
    },
    {
      "Sid": "AllowListingOfSpecificFolder",
      "Action": ["s3:ListBucket"],
      "Effect": "Allow",
      "Resource": ["arn:aws-cn:s3:::b2b-marketplace-test"],
      "Condition":{"StringLike":{"s3:prefix":["casmart/*", "thermofisher/*"]}}
    },
    {
      "Sid": "AllowGetObjectOfSpecificFolder",
      "Effect": "Allow",
      "Action": ["s3:GetObject"],
      "Resource": ["arn:aws-cn:s3:::b2b-marketplace-test/thermofisher/*"]
    },
    {
      "Sid": "AllowPutObjectOfSpecificFolder",
      "Effect": "Allow",
      "Action": ["s3:PutObject"],
      "Resource": ["arn:aws-cn:s3:::b2b-marketplace-test/casmart/*"]
    }
  ]
}